body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btn{
  position: fixed;
  top: 30px;
  background-color: #f9ca24;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 12px 20px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
}

#btn:focus{
  outline: none;
}

#btn:active{
  box-shadow: none;
  transform: translateY(2px);
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotate(360deg);
}

.box{
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::before{
  content: '';
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left:8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}

.box::after{
  content: '';
  background-color: #f6e58d;
  position: absolute;
  right: -15px;
  top:8px;
  width: 15px;
  height: 100%;
  transform: skewY(45deg);
}